spring:
  config:
      import:
      - optional:file:./.env

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate.ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
# 로깅 설정
logging:
  level:
    com.qb.hubservice: DEBUG
    org.hibernate.SQL: DEBUG
# Feign 클라이언트 설정
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000
