server:
  port: 19091

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
        - id: company-service
          uri: lb://company-service
          predicates:
            - Path=/company/**
        - id: hub-service
          uri: lb://hub-service
          predicates:
            - Path=/hub/**
        - id: item-service
          uri: lb://item-service
          predicates:
            - Path=/item/**
        - id: delivery-service
          uri: lb://delivery-service
          predicates:
            - Path=/delivery/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order/**
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notification/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/