server:
  port: 8082

spring:
  application:
    name: company-service
    profiles:
      active: local
    config:
      import: optional:file:./.env

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/