spring:
  config:
    import:
      - optional:file:.env[.properties]

  datasource:
    url: ${DATABASE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate.ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

## JWT 설정
#jwt:
#  secret: ${JWT_SECRET:quickbaesong-company-service-secret-key}
#  expiration: 86400000

# Feign 클라이언트 설정
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000

# 로깅 설정
logging:
  level:
    com.qb.companyservice: DEBUG
    org.hibernate.SQL: DEBUG