server:
  port: 8086

spring:
  application:
    name: order-service
  profiles:
    active: local
  config:
    import: optional:file:./.env

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/
