server:
  port: 8084

spring:
  application:
    name: item-service
    profiles:
      active: local
    config:
      import: optional:file:./.env

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/

